:root {
  --theme-raidious: 8px;
  --drop: blur(10px) brightness(1.05);
  --outline: 0.5px rgba(255, 255, 255, 0.816) solid;
  --blight-outline: white;
  --glass-color: rgba(255, 255, 255, 0.667) !important;
  --color: black;
  --newtab-background-color-secondary: rgb(234, 234, 234) !important;
  --opaque-background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --opaque-background-color: rgb(68, 68, 68);
    --outline: 0.5px rgba(84, 84, 84, 0.816) solid;
    --glass-color: rgba(25, 25, 25, 0.548) !important;
    --color: white;
    --newtab-background-color-secondary: rgb(51, 51, 51) !important;
  }
}