#nav-bar {
    height: 32px;
    top: 0;

}

.searchmode-switcher,.identity-box-button {
    border-radius: var(--theme-raidious) !important;
}
.urlbar-background {
    border-radius: var(--theme-raidious) !important;
}
.urlbar-input {
    width: 80%;
}
#forward-button,#back-button,#reload-button {
    width: 40px !important;
    height: 30px !important;
    border-radius: var(--theme-raidious);
    margin-left: 8px !important;
    background-color: var(--toolbar-field-background-color);
    

}
#urlbar-container {
    margin-top: var(--urlbar-container-border-width);
}



/* フォーカスされていない状態 */
.urlbar:not([focused]) {
    padding: 0 !important;
    height: 32px !important;
    transform: translate(0, 0);
    transition: top 0.4s ease, left 0.4s ease, transform 0.4s ease, padding 0.4s ease;
}

/* フォーカスされている状態 */
.urlbar[focused] {
    top: 30% !important;
    transform: translate(0, 0);
    padding: 8px !important;
}

